.home_section {
  display: flex;
  padding: 30px;
}

.home {
  margin-top: 55px;
  text-align: center;
}

.carousel-item {
  height: 350px;
  width: 100%;
  display: flex;
}

.carousel-item > img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-height: 800px;
  width: auto;
}

.card-deck {
  transition: transform 100ms ease-in;
  display: inline-block;
  width: 100%;
  display: flex;
}
